<div class="shopping">
  <div class="shop-image">
    <div class="shop-details">
      <div class="heading">
        <h1>Shopping List</h1>
        <p>Add New Item</p>
      </div>

    </div>

  </div>
  <div class="shopping-form">
    <form (submit)="onSubmit()" [formGroup]="addList" action="">
      <h1>Add New Item</h1>
      <label for="">Item Name</label>
      <input type="text" name="item_name" formControlName="item_name">

      <label for="">Category</label>
      <select name="" id="" formControlName="category">
        <option value="Fruit">Fruit</option>
        <option value="Dairy">Dairy</option>
        <option value="Vegetable">Vegetable</option>
        <option value="Staple">Staple</option>
      </select>

      <label for="">Price</label>
      <input type="number" formControlName="price" name="price">

      <label for="">Quantity</label>
      <input type="number" formControlName="quantity" name="quantity">


      <button type="submit"  > Add Item</button>
    </form>
  </div>
</div>

