<div class="shopping">
  <div class="shop-image">
    <div class="shop-details">
      <div class="heading">
        <h1>Shopping List</h1>
        <p>Add New Item</p>
      </div>

    </div>

  </div>
  <div class="shopping-form">
    <form action="">
      <h1>Add New Item</h1>
      <label for="">Item Name</label>
      <input type="text" name="name">

      <label for="">Category</label>
      <select name="" id="">
        <option value=""></option>
      </select>

      <label for="">Price</label>
      <input type="number" name="price">

      <label for="">Quantity</label>
      <input type="number" name="quantity">


      <button> Add Item</button>
    </form>
  </div>
</div>

